.container-file {
    width: 900px;
    height: 550px;
    margin: 10% auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* los 3 de arriba en fila */
.content {
    display: flex;
    gap: 20px;
    flex: 1; 
}

.imagen,
.datos
{
    width: 300px;
    height: 400px;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
}

.codigoQR {
    width: 300px;
    height: 400px;
    margin-top: 3%;
    text-align: center;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
}

.imagen img{
width: 100%;
height: 100%;
background-size: cover;

}

.button-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-qr{
     background: black;
    color: white;
    width: 200px;
    border-radius: none;
    padding: 07px;
}

.list-group{
    align-items: start;
    list-style: none;
    padding: 20px;
    
    
}

.list-group li{
     border-bottom: 1px solid rgb(210, 208, 208);
     width: 100%;
      line-height: 2.5;

}

h2{
    text-align: center;
    margin-top: 3%;
}